<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Visiting Application Accepted
    </div>
    <div style="font-size: 0.9rem;">
		Howdy {{name}}!, <br /><br />
		On behalf of the Fort Worth vARTCC, we're happy to have you join our team! By choosing ZFW, you have selected to join one of the largest regions in VATUSA and one that prides
		itself for always striving for excellence.  <br /><br />First, please login on ZFW's website, easily located at www.zfwartcc.net. If you encounter an
		issue with this, please email datm@zfwartcc.net with your CID and the issue you are encountering. <br /><br />All new controllers to our community should familiarize themselves with 
		our facilitiy policies (administrative and training) prior to moving forward. These can be found by navigating to our website and choosing "Files". As a visitor, you will be required to take our ZFW Visiting/Transfer examination located in the <a href="https://academy.vatusa/net" style="color: blue;">VATUSA Academy</a>
		Should you not see this automatically, please reach out to our training department to get it assigned. Upon completion of this examination, you will be awared your minor certifications.<br /><br />Please
		take time to read the provided links and other supplemental information found on our website to assist in your online ATC career with Fort Worth. Our goal is to help everyone have the best experience
		possible while participating in this pastime. This means independent work is an absolute necessity. The value of your own reading of materials, your own observations of other
		controllers and practice cannot be overstated and is crucial to your success in training.<br /><br />Lastly, we'd love to have you join our ZFW Community Discord. We strongly encourage you to join, it'll be the easiest
		way to ask questions and get to know everyone. Join using this link: https://discord.gg/acXKEDE62n.<br /><br /> Also, join us on our Teamspeak at ts.zfwartcc.net;  PW: zfwRocks! All of our voice communications, including event briefings and day-to-day coordination and conversation takes place here.<br /><br />
		We are looking forward to working with you and hope you will find your experience as a ZFW controller to be an enjoyable one. Please let us know if you have any questions and join us in our Discord and Teamspeak to meet us and join the community!<br /><br />
		On behalf of our entire team, we look forward to seeing you!<br /><br />Sincerely,<br />The ZFW Staff Team<br />
		</div>
</div>
